*{
	margin: 0px;
	padding: 0px;
}
body{
	overflow: hidden ;
}
.wrapper{
	display: flex;
}
.wrapper>div{
	height: 100vh;
}
.left__side{
	background: red;
	width: 33vw;
	animation-name: slideFromLeft;
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease;
	transform: translate(-33vw, 0);
}
@keyframes slideFromLeft{
	from {
		transform: translate(-33vw, 0);
	}
	to{
		transform: translate(0,0);
	}
}
.right__side{
	background: red;
	width: 33vw;	
	animation-name: slideFromRight;	
	animation-duration: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease;
	transform: translate(33vw, 0);
}
@keyframes slideFromRight{
	from {
		transform: translate(33vw, 0);
	}
	to{
		transform: translate(0,0);
	}
}
.center{
	background: green;
	width: 34vw;
	animation-name: slideFromBottom;	
	animation-duration: 700ms;
	animation-delay: 500ms;
	animation-fill-mode: both;
	animation-timing-function: ease;
	transform: translate(0, 100vh);
} 
@keyframes slideFromBottom {
	from {
		transform: translate(0, 100vh);
	}
	to{
		transform: translate(0,0);
	}
}
.center img{
	width: 100%;
	height: 40%;
	object-fit: contain;
	animation-name: opacityAnimation;
	animation-duration: 2s;
	animation-delay: 1s;
	opacity: 0;
	animation-fill-mode: both;
}
.center p{
	margin: 10vh 5vw;
	text-align:justify;
	animation-name: opacityAnimation;
	animation-duration: 2s;
	animation-delay: 2s;
	opacity: 0;
	animation-fill-mode: both;
}

.left__side img, .right__side img{
	width: 100%;
	height: 40%;
	margin-top: 5vh;
	object-fit: contain;
	animation-name: opacityAnimation;
	animation-duration: 2s;
	animation-delay: 3s;
	opacity: 0;
	animation-fill-mode: both;
}
.left__side p, .right__side p{	
	margin: 10vh 5vw;
	text-align:justify;
	animation-name: opacityAnimation;
	animation-duration: 1s;
	animation-delay: 4s;
	opacity: 0;
	animation-fill-mode: both;	
}
@keyframes opacityAnimation{
	from{opacity: 0;
	}
	to{opacity: 1;
	}
}