.container{
	width: 80%;
	height: 95%;
	border: 2px solid green;
	margin: auto;	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	}
body{
	height: 100%;
}
html{
	height: 100%
}
.red__1st{
	width: 90%;
	height: 18%;
	border: 2px solid red;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.red__2nd{
	width: 90%;
	height: 10%;
	border: 2px solid red;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.red__3rd{
	width: 90%;
	height: 40%;
	border: 2px solid red;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.blue__1st{
	width: 25%;
	height: 80%;
	border: 2px solid blue;
	display: flex;
	flex-direction: column;	
	justify-content: space-evenly;
	align-items: center;
}

.blue__2nd{
	width: 40%;
	height: 80%;
	border: 2px solid blue;
}
.yellow__1st{
	width: 90%;
	height: 38%;
	border: 4px solid rgba(255, 150, 50, 1.0);
}
.blue__3rd{
	width: 22%;
	height: 80%;
	border: 2px solid blue;
}
.blue__4th{
	width: 30%;
	height: 87%;
	border: 2px solid blue;
}
.blue__5th{
	width: 60%;
	height: 93%;
	border: 2px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.yellow__2nd{
	width: 90%;
	height: 38%;
	border: 4px solid rgba(255, 150, 50, 1.0);
}
.red__4th{
	width: 90%;
	height: 18%;
	border: 2px solid red;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	align-items: center;
}