*{
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}
.form__wrapper{
	width: 500px;
	margin: 50px 0px 0px 50px;
	border: 1px solid black;
	background: #1c1c1c;
}
.form__title{
  padding-left: 8px;
  text-align: left;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff7ca;
  background: #222222;
}
.form__item{
	display: flex;
	margin-bottom: 14px;
	padding-top: 14px;
	justify-content: left;
	border-top: 1px solid black;
}
.form__itemInfo{
	width: 100px;
	text-align: right;
	font-size: 14px;
	color: white;
}
.form__item input:not(.button){	
	width: 225px;
	height: 37px;
	box-sizing: border-box;
	margin-left: 20px;
	padding-left: 5px;	
	border: 1px solid black;
	font-size: 14px;
	color: white;
	outline: none;
	background: #262626;
}
.form__item textarea{
	margin-left: 20px;
	padding: 5px;	
	border: 1px solid black;
	font-size: 14px;
	color: white;
	outline: none;
	resize: none;
	background: #262626;
}
.form__wrapper input.button{
	width: 110px;
	height: 30px;
	margin: 0 0 14px 375px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	background: red;
	color: white;
}
.form__item input:focus, .form__item textarea:focus{
  border: 1px solid #fff7ca;
}
input.button:hover{
	cursor: pointer;
}